@charset "UTF-8";
header
{	
	margin: 20px 10px 40px 10px;
	font-family: "Freestyle Script", "Mistral";
	font-size:60px;
	text-shadow:3px 3px 8px gray;
	text-align:center;
}
body{
	color: black;	
	font-family: '맑은 고딕', '돋움', '고딕';	
}
div{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align: center;
}
ul{
	list-style:none;
	text-align: left;
	background-color: #FDF2EE;
	margin-left:20px;
	margin-right:20px;
	padding-top:20px;
	padding-bottom:20px;
}
#sect{
	background-color:#FDF2EE;
	text-align:center;
	margin:20px;
	padding:20px;
}
a{
	text-decoration: underline;
	color: #0000a0;
}
table{
    margin-left:auto;
	margin-right:auto;
}
tr, td {
	font-size: 10pt;
	border: 1px solid lightgray;
	height: 30px;
	padding: 5px;
	color: #000000;
	background-color: #EAF2D3;
}